@{
    ViewData["Title"] = "Joel Hilton About";
}
<h1>Learn more about Joel Hilton </h1>
<br />
<div>
    <a href="https://www.qwcomedy.com/">Quick Wits Comedy</a><br />
    <p>Joel performs regulary with Quick Wits Comedy.</p><br />
    <a href="https://baconsale.com/">Baconsale Podcast</a><br />
    <p>Joe's weekly podcast is called Baconsale. It's about film and pop culture.</p><br />
    <a href="https://baconsale.com/"><img src="~/baconsalekate.jpg" height="500"></a>
</div>