@{
    ViewData["Title"] = "Submitted";
}
<h1>Thank you for adding a movie!</h1><br />
<a asp-controller="Home" asp-action="MovieForm">Add another movie.</a><br />
<a asp-controller="Home" asp-action="Index">Return to the home page.</a>