@{
    ViewData["Title"] = "Joel Hilton Home";
}
<h1>The Joel Hilton Film Collection </h1>
<br />
<div>
    <img src="~/joelhiltonheadshot.jpg" height="500"/>
    <br />
    <p>Come learn about who Joel Hilton is, what he does, and his amazing movie collection.</p> <br />
    <a asp-controller="Home" asp-action="MovieForm">Add a movie to the database!</a>
</div>

